*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
.navbar-brand{
	font-size:2rem;
	color:#ff7200;
	font-family: 'Pacifico', cursive;

}
.navbar-brand:hover{
	color:black;
	transition:transform 0.4s;
}
.nav-item a{
	margin-left:15px;
	margin-right:15px;
	color:black;
	text-transform:uppercase;
	font-family:sans-serif;
}
.nav-item a:hover{
	color:#ff7200;
}
#u,#h,#c{
	font-family:1.1rem;
	cursor:pointer;
}

#aa p{
	font-size:1.5rem;
}
#aa h1{
	font-size:5rem;
	font-weight:900;
}
.btn2{
	height:45px;
	width:40%;
	color:white;
	outline:none;
	border:none;
	background:#ff7200;
	font-weight:bold;
	transition: all 0.2s;
	cursor:pointer;
}
#b{
	height:50px;
	width:59%;
	color:white;
	outline:none;
	border:none;
	background:#ff7200;
	font-weight:bold;
	transition: all 0.2s;
	cursor:pointer;
}

#b:hover{
	background:transparent;
	color:#ff7200;
	border:1px solid #ff7200;
	transition:all 0.2s;
	transform:scale(1.05);
}
.btn2:hover{
	background:transparent;
	color:#ff7200;
	border:1px solid #ff7200;
	transition:all 0.2s;
	transform:scale(1.05);
}

#c:hover{
	transform:scale(1.3);
}
#h:hover{
	transform:scale(1.3);
}
#u:hover{
	transform:scale(1.3);
}
.navbar-brand:hover{
	transform:scale(1.3);
}
.as{
	position:absolute;
	bottom:80px;
	left:80px;
}
.at{
	position:absolute;
	bottom:80px;
	left:80px;
}
.btnc{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	height:53px;
	width:40%;
	color:#ff7200;
	outline:none;
	border:none;
	background:white;
	cursor: all 0.4s;
	font-weight:bold;
}
.btnc:hover{
	background:#ff7200;
	color:white;
	font-weight:bold;
	transition:all 0.4s;
}
.zoom-n-rotate{
	border-radius:0;
	outline:none;
	overflow:hidden;
	cursor:pointer;
}
.zoom-n-rotate img{
	transition:transform 0.5s ease-in-out; 
}
.zoom-n-rotate:hover img{
	transform:scale(1.3);
}
.next h1{
	font-weight:800;
	font-size:2.6rem;
	text-align:center;
	text-decoration:underline #ff7200;
}
.product h1{
	font-weight:800;
	font-size:2.6rem;
}
.product{
	background:#f6f3f3;
}
.discount{
	height:50px;
	width:50px;
	background:#ff7200;
	position:absolute;
	border-radius:50%;
	padding:12px 5px;
	color:white;
	top:15%;
	left:85%;
	transform:translate(-50%,-50%);
}
.stock{
	height:50px;
	width:100px;
	background:#ff7200;
	position:absolute;
	text-align:center;
	line-height:50px;
	color:white;
	top:8%;
	left:81%;
	transform:translate(-50%,-50%);
}
.circle1{
	height:70px;
	width:70px;
	background:white;
	color:black;
	border-radius:50%;
	padding:20px;
	position:absolute;
	top:40%;
	left:50%;
	transform:translate(-50%,-50%);
	cursor:pointer;
	font-size:1.5rem;
	transition:all 0.5s;
	opacity:0;
}
.mix:hover .circle1{
	transition:all 0.4s;
	opacity:1;
}
.circle1:hover {
	background:black;
	color:white;
} 
.circle1 i{
	position:fixed;
	display:block;
	transition:transform 0.4s;
}
.circle1:hover i{
	transform:rotate(360deg);
}
.filter .d{
	font-weight:800;
	font-size:2.6rem;
}
.new{
	position:absolute;
	height:25px;
	width:60px;
	background:#ff7200;
	color:white;
	text-align:center;
	line-height:25px;
	top:10px;
	left:10px;
	font-weight:bold;
}
.im{
	height:500px;
	background:#f6f3f3;
	position:relative;
}
.im img{
	position:absolute;
	top:70px;
	left:-40px;
}
.asd{
	position:relative;
}
.caro{
	position:absolute;
	top:90px;
	left:400px;
}
.mat p,h1{
	text-align:center
}
.mat p{
	color:#ff7200;
	margin-top:30px;
	margin-bottom:5px;
}
.sty h1{
	text-align:center;
	margin-top:30px;
}

#x{
	position:relative;
	width:200px;
	left:185px;
}
#x:hover{
	background:black;
	color:white;
	border-color:black;
}
.icon{
	color:#ff7200;
	font-size:2.6rem;
	transition:transform 0.4s;
}
.icon:hover{
	transform:rotate(360deg); 
	color:black;
}
.iconic{
	text-align:justify;
	font-family:sans-serif;
}
.flip:hover{
	transform:scale(1.05);
	transition:transform 0.4s;
}
.newsletter-area{
	background-color:#f4f4f4;
}
.newsletter-area form{
	margin:0 auto;
	width:60%;
}
.spad{
    padding-top: 80px;
    padding-bottom: 80px;
}
.newsletter-area p{
	font-size:18px;
	margin-bottom:32px;
	color:#777;
	font-weight:600;
}
.subscribe-sec input{
	padding:15px;
	color:#495057;
	border-radius:50px;
	font-size:16px;
	border:none;
	outline:none;
	letter-spacing:2px;
	box-shadow:1px 3px 15px rgba(0,0,0,0.15);
}
.btn.submit{
	background:#ff7200;
	color:#fff;
	padding:15px 40px;
	text-transform:uppercase;
	border-radius:50px;
	font-size:15px;
	letter-spacing:2px;
	font-weight:600;
	box-shadow:1px 3px 15px rgba(0,0,0,0.15);
	transition:all 0.3s;
}
.btn.submit:hover{
	background-color:#e46d0c;
	color:#fff;
}
.footer{
	background:black;
}
.footer .footer_about{
	margin-bottom:30px;
}
.footer .footer_about p{
	margin-bottom:20px;
	padding-right:80px;
	color:white;
}
.footer .footer_logo{
	margin-bottom:20px;
}
.footer .footer_logo a{
	font-size:35px;
	color:#ff7200;
	text-decoration:none;
}
.footer .footer_logo a:hover{
	text-decoration:underline;
	transform:scale(1.05);
	transition:transform 0.4s;
	display:inline-block;
}
.footer .footer_widget{
	margin-bottom:30px;
}
.footer .footer_widget h6{
	color:#ff7200;
	font-weight:600;
	text-transform:uppercase;
	margin-bottom:12px;
}
.footer .footer_widget ul{
	list-style:none;
	padding-left:0px;
}
.footer .footer_widget ul li a{
	text-decoration:none;
	font-size:14px;
	color:white;
	line-height:30px;
}
.footer .footer_widget ul li a:hover{
	text-decoration:underline;
	transform:scale(1.1);
	display:inline-block;
	transition:all 0.2s;
}
.footer .footer_social a{
	height:40px;
	width:40px;
	display:inline-block;
	background-color:rgb(53,49,49);
	font-size:20px;
	color:#ff7200;
	line-height:40px;
	text-align:center;
	border-radius:10%;
	margin-right:6px;
	margin-bottom:5px;
	transition:all 0.6s;
}
.footer .footer_social a:hover{
	background-color:#ff7200;
	transform:rotate(360deg);
	width:60px;
	color:white;
}
.copy{
	color:white;
}

@media (max-width:632px){
	.im{
	height:500px;
	background:pink;
	width:100%;
}
.sty{
	width:100px;
	
}
.sty h1{
	margin-top:0px;
}
.mat{
	width:100px;
}
#x{
	
	left:-30px;
}
.mat p,h1{
	margin-top:0px;
	
}
.im img{
	
	left:-200px;
}
.caro{
	
	left:300px;
}
#aa h1{
	font-size:3.7rem;
	font-weight:900;
}
}

@media (max-width:375px){
	.im{
	height:500px;
	background:#f6f3f3;
	width:auto;
}
.sty{
	width:100px;
	
}
.sty h1{
	margin-top:0px;
}
.mat{
	width:100px;
}
#x{
	
	left:-30px;
}
.mat p,h1{
	margin-top:0px;
	
}
.im img{
	
	left:-250px;
}
.caro{
	
	left:200px;
}
.navbar-brand{
	margin-left:30px
}
.bg-light .container .flip{
position:absolute;
right:50px;
width:70%;
	
	
}
}


@media (max-width:414px){
	.im{
	height:500px;
	background:#f6f3f3;
	width:auto;
}
.sty{
	width:100px;
	
}
.sty h1{
	margin-top:0px;
}
.mat{
	width:100px;
}
#x{
	
	left:-30px;
}
.mat p,h1{
	margin-top:0px;
	
}
.im img{
	
	left:-250px;
}
.caro{
	
	left:200px;
}
.navbar-brand{
	margin-left:30px
}

.bg-light .container .flip{
position:absolute;
right:50px;
width:60%;
object-fit:contain;
	
}
}
@media (max-width:1100px){
.bg-light .container .flip{
	justify-content:center;
	align-items:center;
	position:absolute;
	right:50px;
	object-fit:contain;
}
}
@media (max-width:1100px){
	#x{
	left:70px;
}
.im img{
	position:absolute;
	left:-180px;
}
.caro{
	position:absolute;
	left:300px;
}
}
@media (max-width:756px){
#x{
	left:10px;
}
.caro{
	position:absolute;
	left:250px;
	top:80px;
}
}




